<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <title>promo21</title>
  </head>
  <body>
<div id="app">
<!-- {{HasilCari}} -->
    <div v-if="cari.length < 1" class="card mb-3" v-for="item in datatoko">
        <div class="card-body bg-primary">
            <h5 class="card-title ">{{item.nama_toko}}</h5>
        </div>
        <img :src="item.img_katalog" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{item.tgl_promo}}</p>
          <p class="card-text"><small class="text-muted">Jumat - Minggu</small></p>
        </div>
      </div>
    
    <button class="btn btn-success" style = "position:absolute;bottom:150px;right:15px;margin:0;padding:5px 3px;">
        rekam
    </button>

      <div class="container" >
          <div class="row">
              <div class="col-4" v-for="item in HasilCari"  @click="dipilih = item" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <b>  <p class="card-text">{{item.nama_toko}}</p></b>
                  <div class="card" style="width: 100%;" >
                      <img :src="item.img_katalog" class="card-img-top img-fluid" alt="..." style="width: 100%;">
                      <div class="card-body">
                        <p class="card-text">{{item.tgl_promo}}</p>
                        <!-- <p class="card-text">{{item.desc}}</p> -->
                        <div v-html="matchName(item.desc)"></div>
                        <!-- Button trigger modal -->
                        
                      </div>
                  </div>
              </div>
          </div>
      </div>

    <!-- Modal -->
    <div v-if="cari.length > 1" class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img :src="dipilih.img_katalog" class="card-img-top" alt="...">
                </div>
                
                    <!-- <span>{{dipilih.desc}}</span> -->
                

            <div class="modal-footer">
                <div class="row g-3">
                    <div class="col-auto">
                        <!-- <h5>SIMPAN DI RENCANA BELANJA</h5> -->
                    </div>
                    <div class="col-auto">
                      <b><input  v-model="dipilih.nama_toko" disabled type="text" readonly class="form-control-plaintext" id="staticEmail2" ></b>
                    </div>
                    <div class="col-auto">
                        <b><input v-model="dipilih.tgl_promo" disabled type="text" readonly class="form-control-plaintext" id="staticEmail2" ></b>
                      </div>
                    <div class="col-auto">
                      <input v-model = "nama_barang" autofocus type="text" class="form-control" id="inputPassword2" placeholder="nama barang">
                    </div>
                    <div class="col-auto">
                        <input v-model = "harga_barang"  type="text" class="form-control" id="inputPassword2" placeholder="harga">
                      </div>
                    <div class="col-auto">
                      <button @click="simpan"  class="btn btn-primary mb-3">Simpan</button>
                    </div>
                </div>
                
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>

    <br><br><br><br>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Rencana Belanja</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row gy-2 gx-3 align-items-center">
                    <div class="col-12">
                      <label class="visually-hidden" for="autoSizingSelect">Nama Toko</label>
                      <select v-model="nama_toko" class="form-select" id="autoSizingSelect">
                        <option selected>Choose...</option>
                        <option value="Superindo">Superindo</option>
                        <option value="Hypermart">Hypermart</option>
                        <option value="Alfamidi">Alfamidi</option>
                      </select>
                    </div>
                    <div class="col-6">
                      <label class="visually-hidden" for="autoSizingInput">Nama Barang</label>
                      <input v-model = "nama_barang" type="text" class="form-control" id="autoSizingInput" placeholder="Nama barang">
                    </div>
                    <div class="col-6">
                        <label class="visually-hidden" for="autoSizingInput">Harga Barang</label>
                        <input v-model = "harga_barang"  type="text" class="form-control" id="autoSizingInput" placeholder="Harga barang">
                    </div>
                    <!-- <div class="col-12">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div> -->
                </div>
            </div>
            <div v-if = "!loading" class="modal-footer" >
                <button @click="simpan"  type="button" class="btn btn-primary">Simpan</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Keranjang Belanja</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row gy-2 gx-3 align-items-center">
                        <div class="col-12">
                          <label class="visually-hidden" for="autoSizingSelect">Nama Toko</label>
                          <select class="form-select" id="autoSizingSelect">
                            <option selected>Choose...</option>
                            <option value="1">Superindo</option>
                            <option value="2">Hypermart</option>
                            <option value="3">Alfamidi</option>
                          </select>
                        </div>
                        <div class="col-6">
                          <label class="visually-hidden" for="autoSizingInput">Nama Barang</label>
                          <input type="text" class="form-control" id="autoSizingInput" placeholder="Nama barang">
                        </div>
                        <div class="col-6">
                            <label class="visually-hidden" for="autoSizingInput">Harga Barang</label>
                            <input type="text" class="form-control" id="autoSizingInput" placeholder="Harga barang">
                        </div>
                        <!-- <div class="col-12">
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Simpan</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>


    <nav class="navbar fixed-bottom navbar-light bg-light ">
        <div class="container-fluid">
            <div></div>
            <a class="navbar-brand">Promo 21</a>
            <div type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-cart4" viewBox="0 0 16 16">
                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                </svg>
            </div>
            <div type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="blue" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg>
            </div>
            <!-- <form class="d-flex">
              <input v-model="cari" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
            <div></div>
        </div>
    </nav>

</div>


       <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    <script>
        var app = new Vue({
        el: '#app',
        data: function () {
            return {
                message: 'Hello Vue!',
            cari:'',
            datatoko:[
                // {'nama_toko':'Superindo', 'img_katalog':'https://www.superindo.co.id/images/promosi-khusus/thtjw642WS.jpg', 'tgl_promo':'8-11 September 2021','desc':'bimoli(10000), miwon(10000), fruti(4000)'},
                // {'nama_toko':'Hypermart', 'img_katalog':'https://www.hypermart.co.id/wp-content/uploads/2020/02/Kompas-8-okt-21_1-01.jpg', 'tgl_promo':'8-11 September 2021','desc':'bimoli(10000), miwon(5000), sasa(4000)'},
                // {'nama_toko':'Hypermart', 'img_katalog':'https://www.hypermart.co.id/wp-content/uploads/2020/02/Kompas-8-okt-21_2-01.jpg', 'tgl_promo':'8-11 September 2021','desc':'bimoli(10000), miwon(5000), ajinomoto(4000)'},
                // {'nama_toko':'Hypermart', 'img_katalog':'https://www.hypermart.co.id/wp-content/uploads/2020/02/Kompas-8-okt-21_1-01.jpg', 'tgl_promo':'8-11 September 2021','desc':''},
                // {'nama_toko':'Hypermart', 'img_katalog':'https://www.hypermart.co.id/wp-content/uploads/2020/02/Kompas-8-okt-21_2-01.jpg', 'tgl_promo':'8-11 September 2021','desc':''},
                // {'nama_toko':'Hypermart', 'img_katalog':'https://www.hypermart.co.id/wp-content/uploads/2020/02/Kompas-8-okt-21_1-01.jpg', 'tgl_promo':'8-11 September 2021','desc':''},
                // {'nama_toko':'Alfamidi', 'img_katalog':'https://alfamidiku.com/medias/promo/product-1633045062-10.jpg', 'tgl_promo':'8-11 September 2021','desc':''},
            ],
            dipilih:'',
            daftar_belanja : [],
            nama_toko:'',
            nama_barang :'',
            harga_barang :'',
            loading:false,


            }
        },
    computed: {
        HasilCari: function(){
            return this.datatoko.filter((blog) => {
                let aaa =  blog.nama_toko.toLowerCase().match(this.cari.toLowerCase()) ;
                let bbb =  blog.desc.toLowerCase().match(this.cari.toLowerCase()) ;
  

                // let bbb = this.datatoko.filter((item) => {
                //         return item.desc.indexOf(this.cari) >= 0;
                //     });
                // return this.blog.desc.filter((xx) => {
                //         return xx.nama_brg.toLowerCase().match(this.cari.toLowerCase()) 
        
                //     });
                
                return  aaa || bbb
                // blog.desc.filter((xx)=>{
                //     return xx.nama_brg.toLowerCase().match(this.cari.toLowerCase())
                // }

                // );
            });




        
            return aaa 
        }
    },
    created(){
        // this.dataSoal = this.kalimat;
        // gscript
          // google.script.run.diakses();
        
        this.ambilData();

        // alert('tes');



    },
        methods:{
            ambilData(){
                //   alert('ambil data');
                this.datatoko = [];

                var url ="https://script.google.com/macros/s/AKfycbzTAtI4K7Yrctg9e5dsU5CVpd8svXX1dcgb9jzbDUJBC171GIWPGSizmHLipVym2Xia/exec?action=read&table=data";

                $.getJSON(url, function (json) {
                // console.log(json.data);
                app.dataTambahan = json.data;
                app.datatoko = app.dataTambahan;
                // app.soal = app.soal.concat(data1);
                });

                // alert('selesai ambil data');

            },
            simpan(){
                if(this.nama_toko && this.nama_barang){
                    vm = this;
                    vm.loading = true;
                    // vm.daftar_belanja.push({"nama_toko": vm.dipilih.nama_toko, "nama_barang" : vm.nama_barang, "harga_barang" : vm.harga_barang });

                    var vNamaToko = this.nama_toko.toString();
                    var vTglPromo = '-';
                    var vNamaBarang = this.nama_barang.toString();
                    var vhargabarang = this.harga_barang.toString();
                    var lin = `https://script.google.com/macros/s/AKfycbzTAtI4K7Yrctg9e5dsU5CVpd8svXX1dcgb9jzbDUJBC171GIWPGSizmHLipVym2Xia/exec?action=insert&table=detail&data={"nama_toko":"'${vNamaToko}","tgl_promo":"'${vTglPromo}","nama_barang":"'${vNamaBarang}","harga_barang":"${vhargabarang}"}`;
                    $.ajax({
                    type: 'GET',
                    url: lin,
                    crossDomain: true,
                    dataType: 'jsonp',
                    dataType: "text",
                    success: function(resultData) { 
                        alert("Berhasil Simpan")
                        app.nama_barang = '';
                        app.harga_barang = '';
                        app.loading = false;
                        
                        
                    }
                    });






                }else{
                    alert("nama toko & nama barang harus diisi.")
                }
            },



            matchName(current) {
                let reggie = new RegExp(this.cari, "ig");
                let found = current.search(reggie) !== -1;
                return !found ? current : current.replace(reggie, '<span style="color: red;">' + this.cari + '</span>');
                }




        },

        })
    </script>
  </body>
</html>